<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="UTF-8">
  <title>Fly, Balloon, fly!</title>
</head>
<style type="text/css">
  @font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/LuckiestGuy-Regular.ttf") format('truetype');
  }

  body {
    background-color: black;
  }
</style>
<body>
<h1 style="visibility: hidden; font-family: 'Luckiest Guy',serif">Fly, balloon, fly!</h1>
  <canvas id="gameCanvas"></canvas>
  <script src="../src/balloon-game.ts"></script>
</body>

</html>
